// Scheduled initial Trigger function template
exports = async function () {
   const service = context.services.get("{{cluster}}");
   const db = service.db("{{database}}");
   const {{collection | replace('-', '')}} = db.collection("initial-{{collection}}");


   console.log("Starting export");
   const pipeline = [
     {
         '$out': {
            's3': {
               'bucket': '{{s3_bucket}}',
               'region': '{{s3_region}}',
               'filename': '{{s3_prefix}}',
               'format': {
                  'name': 'json',
                  'maxFileSize': '10GB'
                }
            }
         }
      }
   ];

   try {
      console.log("Executing aggregation pipeline...");
      const result = await {{collection | replace('-', '')}}.aggregate(pipeline).toArray();
      console.log("Aggregation completed successfully:");

   } catch (err) {
      console.error("Error during aggregation:", err.message);
   }

   console.log("Export complete");
};