// Scheduled Trigger function template
exports = async function () {
   const service = context.services.get("{{cluster}}");
   const db = service.db("{{database}}");
   const {{collection | replace('-', '')}} = db.collection("{{collection}}");
   const now = new Date();
   const datePart = `${(now.getMonth() + 1).toString().padStart(2, '0')}-${now.getDate().toString().padStart(2, '0')}-${now.getFullYear()}`;
   const hourPart = `${now.getHours().toString().padStart(2, '0')}-${now.getMinutes().toString().padStart(2, '0')}`;


   console.log("Starting export:", Date.now());
   const pipeline = [
       {
         $match: {
            Updated: {
               $gt: new Date(Date.now() - 1.1 * 60 * 60 * 1000), 
               $lt: new Date() // current time
            }
         }
      },
      {
         '$out': {
            's3': {
              'bucket': '{{s3_bucket}}',
              'region': '{{s3_region}}',
               'filename': `{{s3_prefix}}/${datePart}/${hourPart}`,
               'format': {
                  'name': 'json',
                  'maxFileSize': '1GB'
               }
            }
         }
      }
   ];

   try {
      console.log("Executing aggregation pipeline...");
      const result = await {{collection | replace('-', '')}}.aggregate(pipeline).toArray();
      console.log("Aggregation completed successfully");
     
   } catch (err) {
      console.error("Error during aggregation:", err.message);
   }

   console.log("Export complete");
};